<div class="g-hdw">
    <header>
        <div class="top-info">
            <div class="inner">
                <h1 title="基于php的电子书推荐与阅读系统" class="theme">电子书后台管理系统</h1>
                <div class="index"><span class="label"><a href="/index.php">网站首页</a></span> </div>
                <div class="user-info" style="float:right;">
                    <span class="label">管理员:</span><span class="labeled-text">{$Think.session.nickname}</span>
                    <span class="label"><a class="logout" href="{:url('index/logout')}">退出</a> </span>
                </div>

            </div>

        </div>

    </header>
</div>