<aside class="col col3">
    <nav class="category-nav">
        <ul class="w-list">
            <li class="all">
                <div class="wrap"><a href="/book/"><span class="ttl">全部图书</span><em class="num"></em></a></div>
            </li>
            <li class="level1 crt">
                <div class="wrap"><b></b><a href="/index.php/category/10101" hidefocus="hidefocus"><span>流行小说</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10102" hidefocus="hidefocus"><span>国外小说</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10103" hidefocus="hidefocus"><span>社科人文</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10104" hidefocus="hidefocus"><span>国学名著</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10105" hidefocus="hidefocus"><span>儿童读物</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10106" hidefocus="hidefocus"><span>杂文选集</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10107" hidefocus="hidefocus"><span>纪实传记</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10108" hidefocus="hidefocus"><span>经济管理</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10109" hidefocus="hidefocus"><span>外语读本</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10110" hidefocus="hidefocus"><span>成功励志</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/101111" hidefocus="hidefocus"><span>言情小说</span><em class="num"></em></a></div>
            </li>
            <li class="level1"><div class="wrap"><b></b><a href="/index.php/category/10112" hidefocus="hidefocus"><span>科幻小说</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10113" hidefocus="hidefocus"><span>惊悚悬疑</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10114" hidefocus="hidefocus"><span>武侠小说</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10115" hidefocus="hidefocus"><span>侦探推理</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="/index.php/category/10116" hidefocus="hidefocus"><span>历史小说</span><em class="num"></em></a></div>
            </li>
        </ul>
    </nav>
</aside>