<aside class="col col3">
    <nav class="category-nav">
        <ul class="w-list">
            <li class="level1 crt">
                <div class="wrap"><b></b><a href="{:url('member/member/index')}" hidefocus="hidefocus"><span>个人信息</span><em class="num"></em></a></div>
            </li>
            <li class="level1">
                <div class="wrap"><b></b><a href="{:url('member/member/bookshelf')}" hidefocus="hidefocus"><span>我的书架</span><em class="num"></em></a></div>
            </li>
            <li class="level1" hidden>
                <div class="wrap"><b></b><a href="{:url('member/member/comment')}" hidefocus="hidefocus"><span>我的评论</span><em class="num"></em></a></div>
            </li>
                <li class="level1">
                <div class="wrap"><b></b><a href="{:url('member/member/change')}" hidefocus="hidefocus"><span>修改密码</span><em class="num"></em></a></div>
            </li>

        </ul>
    </nav>
</aside>