{extend name="public@base" /}
{block name="css"}
<link rel="stylesheet" href="/static/book/css/booklist.css">
<link rel="stylesheet" href="/static/index/css/gen.css">
{/block}
{block name="main"}
<div class="main tagbook">
    <h1>{$portfolio[0]->author->nickname}作品集</h1>
    <article class="col col8">
        <div class="category-list">
            <ul>
                {volist name="portfolio" id="book"}
                <li class="item">
                    <div class="cover shadow-cover">
                        <a href="/index.php/article/{$book.article_id}" target="_blank"><img src="{$book.thumb}"></a>
                    </div>
                    <div class="info">
                        <span class="price-tag"></span>
                        <div class="title"><a href="/index.php/article/{$book.article_id}" target="_blank">{$book.title}</a></div>
                        <p><span><span class="label">作者：</span><span class="labeled-text">{$book->author->nickname}</span></span></p>
                        <p><span class="category"><span class="label">类别：</span><span class="labeled-text"><a href="/index.php/category/{$book->getData('category_id')}">{$book.category_id}</a></span></span></p>

                        <div class="article-desc-brief">简介：{$book.summary}</div></div>
                </li>
                {/volist}
            </ul>
        </div>
        <div align="center">{$page}</div>
    </article>
    <aside>

    </aside>
</div>

{/block}