{extend name="public@member_base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="/static/member/css/index.css" />
<link rel="stylesheet" type="text/css" href="/static/member/css/booklist.css" />
{/block}
{block name="main"}
<div class="main books">
    {include file="public@member_aside" /}
    <article class="col col10">
        <div class="bd category-list">
            <ul>
                {volist name="bookshelf" id="book"}
                    {if $book->article}
                        <li class="item">
                            <div class="cover shadow-cover"><a href="/index.php/article/{$book.article_id}" target="_blank"><img src="{$book->article->thumb}" itemprop="image"></a></div>
                            <div class="info"><span class="price-tag"></span>
                                <div class="title">{$book->article->title}</div>

                                <p><span class="category"><span class="label">类别：</span><span class="labeled-text"><span itemprop="genre">{$book->article->category_id}</span></span></span></p>
                                {if $book.chapter_url==0}
                                <p><span class="label"></span></p>
                                {else /}
                                <p><span><span class="label">上一次观看章节：</span><span class="labeled-text"><a href="/index.php/chapter/{$book.chapter_url}"><span class="chapter">第{$book->chapter->chapter_id}章 </span> <span class="chapter-title">{$book->chapter->title}</span> </a></span></span></p>
                                {/if}
                            </div>
                            <div class="">
                                <a href="{:url('member/member/removeBook',array('article_id'=>$book.article_id))}">取消收藏</a>
                            </div>
                        </li>
                    {/if}

                {/volist}

            </ul>


        </div>
    </article>
</div>
{/block}