{extend name="public@member_base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="/static/member/css/index.css" />
<link rel="stylesheet" type="text/css" href="/static/member/css/booklist.css" />
{/block}
{block name="main"}
<div class="main books">
    {include file="public@member_aside" /}
    <article class="col col10">
        <div class="bd category-list">
            <form class="change" method="post" action="{:url('member/changePass')}">
                <input type="hidden" name="role" value="member">
                <input type="hidden" name="role_id" value="{$Think.session.role_id}">
                <input type="hidden" name="return" value="{:urlencode('member/member/change')}">
                <div class="item">
                    <label class="label">原密码：</label>
                    <input class="labeled-text" type="password" placeholder="原密码" name="oldPass">
                </div>
                <div class="item">
                    <label class="label">新密码：</label>
                    <input class="labeled-text" type="password" placeholder="新密码" name="newPass">
                </div>
                <div class="item">
                    <label class="label">确定密码：</label>
                    <input class="labeled-text" type="password" name="check">
                </div>
                <div class="item" style="font-size: 24px;color: red;">{$info}</div>
                <div class="item submit" align="center">
                    <input type="submit" value="修改" class="btn btn-green">
                </div>
            </form>
        </div>
    </article>
</div>
{/block}