{extend name="public@admin_base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="/static/admin/css/index.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/booklist.css" />
{/block}
{block name="main"}
<div class="main books">
    {include file="public@admin_aside" /}
    <div>
        <article class="col col10">
            <div class="bd category-list">

                <h3>添加普通管理员</h3>
                <form class="user-info" action="{:url('User/insert')}" method="post">
                    <div class="item user-name">
                        <label class="label">管理员名称：</label>
                        <input class="labeled-text" placeholder="输入需添加管理员的名称" name="nickname">
                    </div>
                    <div class="item user-id">
                        <label class="label">密码：</label>
                        <input type="password" class="labeled-text" name="password">
                    </div>
                    <div class="item user-id">
                        <label class="label">确认密码：</label>
                        <input type="password" class="labeled-text" name="password2">
                    </div>
                    <div class="item user-mail">
                        <label class="label">邮箱：</label>
                        <input class="labeled-text" name="email">
                    </div>


                    <div class="item submit" align="center">
                        <input type="submit" value="保存" class="btn btn-green">
                    </div>
                </form>
                <div class="info">
                    <span style="font-size:20px;color: red">{$info}</span>

                </div>
                <h3>管理员列表</h3>
                <table>
                    <tr>
                        <th class="item">管理员等级：</th>
                        <th class="item">管理员账号：</th>
                        <th class="item">管理员：</th>
                        <th class="item">操作：</th>
                    </tr>
                    {volist name="adminList" id="user"}
                    <tr>
                        <td class="item">{$user.level}</td>
                        <td class="item">{$user.role_id}</td>
                        <td class="item">{$user.nickname}</td>
                        <td class="item">
                            <a href="{:url('User/initPass',array('role_id'=>$user['role_id'],'role'=>'admin','return'=>urlencode('user/add_admin')))}" class="btn btn-green">初始化密码</a>
                            <a href="{:url('Del/del',array('role_id'=>$user['role_id'],'role'=>'admin','return'=>urlencode('user/add_admin'),'force'=>1))}" class="btn btn-gray">删除</a>
                        </td>
                    </tr>
                    {/volist}

                </table>
                <div align="center">{$page}</div>
            </div>
        </article>
    </div>

</div>

{/block}